@media screen and (max-width: 600px) {
    body {
      font-family: 'Segoe UI', sans-serif;
      padding: 15px;
      background-color: #0b0b0b;
    }
  
    #scriptures {
      background-color: #f0f8ff;
      padding: 15px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
  
    #scriptures p {
      font-size: 16px;
      margin: 10px 0;
      color: #333;
    }
  
    #scriptures button {
      margin-top: 10px;
      padding: 8px 15px;
      background-color: #007BFF;
      color: white;
      border: none;
      border-radius: 5px;
    }
  
    #giving-form {
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #ddd;color: #ddd;
    }
  
    form label {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
    }
  
    input[type="tel"] {
      width: 90%;
      padding: 8px;
      font-size: 16px;
    }
  
    button[type="submit"] {
      background-color: green;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      width: 100%;
    }
  
    #thankyou {
      margin-top: 15px;
      color: green;
      font-weight: bold;
      text-align: center;
    }
    #form-actions button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #555;
        color: white;
        border: none;
        border-radius: 6px;
        margin-top: 15px;
        cursor: pointer;
      }
    
      #form-actions button:hover {
        background-color: #333;
      }
  }
  
  @media screen and (min-width: 600px) {
    body{
        display: none;
    }
  }